<ion-header-bar class="bar-revolutionize">

    <h1 class="title">Info and Contact</h1>
    <button class="button button-icon icon ion-close pull-right" ng-click="closeContactModal()"></button>
</ion-header-bar>
<ion-content class="contentarea whiteBackground">



    <div>
        <h5>The content in this app has been created by:</h5>
        <div>Dr. Mark von Kopp</div>
        <div>Bergstraße 65</div>
        <div>Heidelberg</div>
        <div>Germany</div>
        <a href="mailto:drvonkopp@gmail.com">drvonkopp@gmail.com</a>
    </div>

    <br/>

    <button class="button button-stable icon ion-refresh" ng-click="refreshContent()">Update Content</button>

    <br/><br/><br/><br/>

    <div>
        <h5>German Publishing Information / Impressum</h5>
        Anbieter im Sinne des § 6 TDG / V. i.S.d. Pressegesetzes: Mark von Kopp

        <br/><br/>

        | Haftungsausschluß und Änderungsvorbehalt: Alle Informationen und Bestandteile dieser Website sind von der Autorin nach bestem Wissen und Gewissen zusammengestellt worden. Trotzdem haftet die Autorin nicht für Vollständigkeit, Richtigkeit, Aktualität oder Qualität der auf dieser Website bereitgestellten Daten. Ebensowenig haftet die Autorin für Schäden materieller oder immaterieller Art, die durch die Nutzung oder Nichtnutzung der Website aufgrund von Viren u.ä verursacht werden. Die Autorin behält sich darüber hinaus das Recht vor, jederzeit ohne vorherige Ankündigung Änderungen, Ergänzungen oder die Löschung der Informationen oder/und Bestandteile der Website vorzunehmen.
        <br/><br/>
        | Copyright:  Copyright Mark von Kopp, Heidelberg. Alle Rechte vorbehalten. Text und Bilder auf den Websites unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze. Der Inhalt dieser Websites darf nicht zu kommerziellen Zwecken kopiert, verbreitet, verändert oder Dritten zugänglich gemacht werden.
        <br/><br/>
        | Links:  Für die in dieser App angegebenen Links zu Dritten wird keine Haftung übernommen.
        <br/><br/>
        | Hinweis:  Die im Rahmen der Website veröffentlichten Kontaktdaten enthalten keine ausdrückliche, stillschweigende oder mutmaßliche Einwilligung zur unaufgeforderter Übersendung kommerzieller Informationen, dies gilt insbesondere für sog. Spam-Mails.
    </div>

    <br/>
    <br/>
    <br/>

    <div>
        <h5>The developer of this app is:</h5>
        <div>Michael Dietz</div>
        <a href="mailto:mi_dietz@yahoo.de">mi_dietz@yahoo.de</a>
    </div>

    <br/>

    <div>
        <h5>This app uses some frameworks and tools</h5>
        <div><a href="http://ionicframework.com/">Ionic Framework</a>,
            <a href="http://ionicons.com/">Icons from Ionicons</a>,
            <a href="https://angularjs.org/">AngularJS</a>
            </div>
    </div>

</ion-content>
<ion-footer-bar class="bar-revolutionize">

</ion-footer-bar>