<ion-header-bar class="bar-dark">

    <h1 class="title">Info and Contact</h1>
    <button class="button button-icon icon ion-close pull-right" ng-click="closeContactModal()"></button>
</ion-header-bar>
<ion-content class="contentarea whiteBackground">


    <div>
        <h5>Author and Publisher</h5>
        <div>Mark von Kopp</div>
        <div>Straße 1</div>
        <div>Heidelberg</div>
        <div>Germany</div>
        <a href="mailto:mark.v.kopp@">mark.v.kopp@mussnoch.de</a>
    </div>

    <br/><br/>

    <div>
        <h5>Developer</h5>
        <div>Michael Dietz</div>
        <div>Franz-Conrad-Linck-Straße 11</div>
        <div>Mannheim</div>
        <div>Germany</div>
        <a href="mailto:mi_dietz@yahoo.de">mi_dietz@yahoo.de</a>

    </div>

    <br/><br/>

    <div>
        <h5>Used Frameworks and Tools</h5>
        <div><a href="http://ionicframework.com/">Ionic Framework Link</a></div>
        <div><a href="http://ionicons.com/">Icons from Ionicons</a></div>
        <div><a href="http://ionicframework.com/">AngularJS</a></div>
        <div><a href="http://ionicframework.com/">AngularJS</a></div>
    </div>

</ion-content>
<ion-footer-bar class="bar-dark">

</ion-footer-bar>